#root {
  max-width: 1280px;
  min-height: 100vmax;
  margin: 0 0 0 17%;
  padding: 2rem;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app-container {
  display: flex;
}

nav {
  z-index: 10;
  position:fixed;
  min-height: 100vmax;
  top: 0;
  left: 0;
  background-color: #62577F;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding: 20px 10px;
}

nav > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
}

section > ul {
  background-color: rgb(149, 255, 0);
  list-style: none;
  display: flex;
  flex-direction: column;
  min-width: 200%;
}

